---
layout: base
---

<div class="flex justify-center py-4 md:py-8">
  <article class="text-center prose md:prose-lg prose-p:font-extralight prose-headings:font-light prose-slate dark:prose-invert">
  {{ content }}
  </article>
  </article>
</div>
